.intro-header{
	padding-top: 0px;
	padding-bottom: 20px;
	text-align: center;
	xbackground: linear-gradient(rgba(40, 171, 250, 0.55), rgba(40, 171, 250, 0.55)), url(../images/IMG_6368.jpg) no-repeat center center;
	background: url(../images/mainbg.jpg) no-repeat center center;
    background-size: cover;
    .intro-message{
    	position: relative;
    	padding-top: 20%;
    	padding-bottom: 20%;
    	color: $white;
    }
}
.about-section{
	background-color: $brand-secondary;
	color: $white;
}
.portfolio-section{
	background-color: $brand-neutral;
}

/* ---- grid ---- */

.grid {
  background: $brand-neutral;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 32.333%;
  margin: 9px 9px 0 0;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

