header{
    .intro-text {
        padding-top: 300px;
        z-index: 10;
        position: relative;
        .intro-lead-in {
            color: $brand-secondary;
            font-family: $raleway-sans-serif;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 3 * $rem-base;
        }
        /* .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        } */
    }
}

